[workspace]
members = ["packages/foundation", "packages/api", "packages/processor"]
resolver = "3"

[workspace.package]
version = "0.1.0"
edition = "2024"

[workspace.dependencies]
foundation = { path = "packages/foundation" }
