[package]
name = "processor"
version.workspace = true
edition.workspace = true

[dependencies]
foundation.workspace = true

tokio.workspace = true
serde.workspace = true
serde_json.workspace = true
tracing.workspace = true
tracing-subscriber.workspace = true

[dev-dependencies]
rstest.workspace = true
