[package]
name = "api"
version.workspace = true
edition.workspace = true

[dependencies]
foundation.workspace = true

tokio.workspace = true
serde.workspace = true
serde_json.workspace = true
tracing.workspace = true
tracing-subscriber.workspace = true

axum = "0.8"
tower-http = { version = "0.6", features = ["cors", "trace"] }

[dev-dependencies]
rstest.workspace = true
