[package]
name = "api"
version.workspace = true
edition.workspace = true

[dependencies]
foundation.workspace = true
tokio.workspace = true
axum.workspace = true
serde.workspace = true
serde_json.workspace = true
tracing.workspace = true
tracing-subscriber.workspace = true
tower-http.workspace = true
